/* src/components/Buscador/Buscador.scss */

.buscador-input {
    /* Hacemos que el contenedor del input ocupe el 40% de ancho */
    width: 40% !important; /* !important para sobrescribir los estilos de Semantic */
  
    /* Personalizar el input interno de Semantic UI */
    .ui.input > input {
      border: 1px solid #003087 !important;
      border-radius: 4px;
      padding: 0.6rem 1rem; /* Más espacioso */

      &::placeholder {
        color: #6E85B2 !important;  /* Azul grisáceo */
        font-style: italic;  /* Diferencia visual */
      }
  
      &:focus {
        outline: none;
        border-color: #002060 !important; /* Azul más oscuro */
        /* Efecto de sombra sutil */
        box-shadow: 0 0 6px rgba(0, 48, 135, 0.4);
      }
    }
  
    /* Estiliza el ícono de la lupita */
    .ui.icon.input > .icon.search.link.icon {
      color: #003087 !important;  /* Azul oscuro */
      font-size: 1.2rem !important; /* Más grande */
      transition: transform 0.2s ease, color 0.2s ease;
  
      &:hover {
        color: #002060 !important;  /* Azul más intenso */
        transform: scale(1.2) translateY(-2px); /* Se agranda y eleva */
        opacity: 0.9; /* Ligero efecto de transparencia */ /* Efecto hover */
      }
    }
  }
  