.basic-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
    &__topmenu {
      background-color: #C8102E; // Fondo del TopMenu
    }
  
    &__main-content {
      flex-grow: 1; // Asegura que este bloque ocupe el espacio restante
      padding: 2rem;
      background-color: #FFFFFF;
    }
  
    &__footer {
      background-color: rgba(186, 16, 45, 0.8); // Fondo del Footer
      padding: 1rem;
      color: #FFFFFF;
      text-align: center;
    }
  }
  