.products-page {
  .buscador-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .toggle-recommendations-btn {
    display: block;
    margin: 0 auto 1rem;
    background-color: #C64D34;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #a03d2b;
    }
  }

  .recomendaciones-container {
    overflow: hidden;
    margin-bottom: 1rem;
  }
}

.main-content {
  display: flex;
  gap: 2rem;

  .sidebar {
    flex: 0 0 250px;
  }

  .content {
    flex: 1;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .sidebar {
      flex: none;
      width: 100%;
    }
  }
}
