/* AdminLayout.scss */

.admin-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #FFFFFF; /* color base */
  
    /* Contenedor para side menu + main content en la misma fila */
    &__content {
      display: flex;       /* layout horizontal */
      flex: 1;             /* ocupa todo el espacio disponible */
    }
  
    /* Menú lateral */
    &__side-menu {
      /* ancho fijo */
      width: 250px;
      flex-shrink: 0;      /* evita que se reduzca por el flex */
      /* color de fondo, si lo deseas, también puede estar en el SideMenu.scss */
      background-color: #C8102E; 
    }
  
    /* Contenido principal */
    &__main-content {
      flex-grow: 1;
      padding: 2rem 1rem;
      overflow-y: auto;
      background-color: #FFFFFF;
      text-align: center;
    }
  
  }
  