.verify-password-modal {
    position: relative;
    padding: 20px;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  
    .modal-header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
  
    .verify-password-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
}
.ui.button.btn-verificar{
  background-color: #003087 !important;
  color: white !important;
}