/* Estilos para el contenedor principal */
.usuarios {
  position: relative; /* Para asegurar que los elementos dentro del contenedor no se vean afectados por el modal */
  z-index: 1; /* Aseguramos que el contenido del contenedor esté por debajo del modal */
  text-align: center;

  /* Botón para registrar un nuevo usuario */
  &__container {
    button {
      display: block;
      border-radius: 8px;
      margin: 20px auto;
      color: white;
      background-color: rgb(34, 139, 34);
      font-size: 20px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: rgb(28, 112, 28);
      }
    }
  }
}

/* Estilos para el modal overlay */
.overlay {
  position: fixed; /* Posiciona el overlay de forma fija */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que el overlay esté por encima del contenido */
}

/* Estilo para el botón de cierre */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;

  &:hover {
    color: #ff0000;
  }
}

/* Contenedor de la tabla */
.usuario__table_container_container {
  max-height: 500px; /* Ajusta la altura a lo que desees */
  overflow-y: auto; /* Activa la barra de desplazamiento */
  border: 1px solid #ddd; /* Opcional: Añadir un borde alrededor */
  padding-right: 10px; /* Ajuste opcional para compensar la barra de desplazamiento */
}



  
  