.resumen-orden {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
  
    /* Estilos Responsivos */
    @media (max-width: 768px) {
      padding: 1rem;
      
      .detalle-carrito {
        padding: 1rem;
      }
    }
  }
  