/* components/VincularProducto/VincularProducto.scss */
.vincular-producto-modal {
    .header {
      background-color: #f9f9f9;
      border-bottom: 1px solid #ddd;
      font-size: 1.2em;
      padding: 1em;
    }
    .content {
      padding: 1.5em;
    }
    .ui.form {
      margin-top: 1em;
    }
    .ui.button {
      margin-top: 1em;
      margin-right: 0.5em;
    }
  }
  