.carrito {
    padding: 20px;
    background-color: #f9f9f9;
  
    .carrito__vacio {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      color: #003087;
      margin-top: 50px;
    }
  
    .ui.table {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      th {
        background-color: #f5f5f5;
        color: #003087;
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: bold;
      }
  
      td {
        vertical-align: middle;
        color: #003087;
        font-size: 1rem;
      }
  
      .ui.button {
        margin: 0;
        padding: 8px 12px;
  
        &.red {
          background-color: #C8102E !important;
          color: #fff !important;
  
          &:hover {
            background-color: #9d2c15 !important;
          }
        }
      }
    }
  
    .ui.table tfoot {
      color:#003087;
      font-size: 1.1rem;
      font-weight: bold;
  
      td {
        background-color: #f5f5f5;
      }
  
      .ui.button.red {
        font-size: 1rem;
      }
    }
  
    .ui.icon.button {
      background: transparent !important;
      color: #C8102E !important;
  
      &:hover {
        background: rgba(231, 76, 60, 0.1) !important;
      }
  
      i {
        margin: 0;
      }
    }

    //botones aumentar y disminuir cantidad en el carrito
    .btn-minus,
    .btn-plus {
      background-color: #C8102E;
      color: white !important;
      transition: background-color 0.3s ease;
      display: flex;
      font-size: 1.2rem;
      border: none;

      &:disabled {
        background-color: #b0b0b0 !important; // Gris cuando está deshabilitado
        cursor: not-allowed !important;
      }
    }

    // Botón de eliminar producto
    .btn-delete {
      background-color: #C8102E !important; // Rojo
      color: white !important;
      border-radius: 50%;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e94221 !important; // Rojo más oscuro
      }

      &:disabled {
        background-color: #b0b0b0 !important; // Gris cuando está deshabilitado
        cursor: not-allowed !important;
      }
    }

    .carrito__pago-container {
      display: flex;
      //justify-content: center;  // Centra el botón horizontalmente
      //margin-top: 20px;         // Espacio antes del botón
    
      .ui.button {
        background-color: #003087 !important;
        color: white !important;
        //font-size: 18px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    
        &:hover {
          background-color: #043a9f !important;
          color: #FFCD00;
        }
    
        &:disabled {
          background-color: #b0b0b0 !important;
          cursor: not-allowed !important;
        }
      }
    }
    
  }
  