.ui.input {
    input {
      background-color: #f1f1f1 !important;
      color: #003087 !important;
      border-color: #f1f1f1 !important;
      border-radius: 10px !important;

      &::placeholder {
        color: #6E85B2 !important;  /* Azul grisáceo */
        font-style: italic;  /* Diferencia visual */
      }

      &:hover {
        background-color: #e0e0e0 !important; /* Color más oscuro al pasar el mouse */
        border-color: #003087 !important; /* Resalta el borde */
      }
  
      &:focus {
        background-color: #fff !important;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
      }
    }
    .ui.input .icon {
      color: #003087 !important;
      font-size: 1.2rem !important;
      transition: transform 0.2s ease, color 0.2s ease;
    
      &:hover {
        color: #002060 !important;
        transform: scale(1.2) translateY(-2px);
        opacity: 0.9;
      }
    }
  }
  .ui.selection.dropdown {
    background-color: #f1f1f1 !important;
    color: #003087 !important;
    border-color: #f1f1f1 !important;
    border-radius: 10px !important;
  
    &:focus,
    &:active {
      background-color: #fff !important;
      color: #003087 !important;
      opacity: 1 !important;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
    }
  
    .menu {
      border-radius: 10px !important;
    }
  }
  
  .ui.list,
  .ui.divided.selection.list {
    background-color: #f1f1f1 !important;
    color: #003087 !important;
    border: 1px solid #f1f1f1 !important;
    border-radius: 10px !important;
    padding: 10px !important;
  
    .item {
      background-color: #fff !important;
      color: #003087 !important;
      opacity: 1 !important;
      margin-bottom: 5px !important;
      border-radius: 10px !important;
      padding: 10px !important;
  
      &:hover {
        background-color: #e1e1e1 !important;
        color: #002060 !important;
      }
  
      .content {
        border-radius: 10px !important;
      }
    }
  }
  