/* ModalProducto.scss */

.ui.modal.modal-product {
    border-radius: 10px !important;   /* esquinas redondeadas en el modal */
    .content {
      padding: 0 !important;         /* removemos padding default */
      border-radius: 10px !important;
    }
  }
  
  .modal-product__content {
    display: flex;
    flex-direction: row;
    max-height: 90vh;                /* más altura */
    overflow: hidden;                /* oculta overflow que exceda */
  }
  
  .modal-product__image-container {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f2e7;       /* un color de fondo, si deseas */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #ddd;    /* linea vertical divisoria */
  }
  
  .modal-product__image {
    max-height: 90%;   /* la imagen ocupa 90% de la altura del contenedor */
    max-width: 100%;
    object-fit: contain;
    border-radius: 4px; /* si deseas redondear la imagen */
  }
  
  .modal-product__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .modal-product__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #c64d34;  /* color principal */
  }
  
  .modal-product__price {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #6e6159;
  }
  
  .modal-product__description {
    margin-bottom: 1rem;
    color: #6e6159;
  }
  
  .modal-product__rating {
    margin-bottom: 1rem;
  }
  
  .modal-product__footer {
    margin-top: auto; /* empuja el footer al final */
    display: flex;
    justify-content: center; /* centra horizontalmente */
    padding-top: 1rem;       /* espacio arriba del botón */
    border-top: 1px solid #eee; /* si quieres una separación horizontal */
  }

  .modal-product__categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Espaciado entre etiquetas */
    margin-top: 0.5rem;
  }
  
  .categoria-tag {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
  }
  