.main-footer {
    background-color: rgba(186, 16, 45, 0.8);
    color: #FFFFFF;
    padding: 1rem 0;
    text-align: center;
  
    .copyright {
      font-size: 3rem;
      margin-top: 0.5rem;
    }
  }