.add-user-form {
  &__input {
    background-color: #f7f2e7 !important;
    border-color: #C8102E !important;
    color: #6e6159 !important;
  
    &:focus {
      border-color: #e2b13c !important;
      background-color: #f7f2e7 !important;
    }
  }
  
  &__button {
    background-color: #003087 !important;
    color: yellow !important;
    font-size: 1rem;
  
    &:hover {
      background-color: #043a9f !important;
    }
  }
  
  &__links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}