.update-user-form {
    &__button {
      text-align: center;
      margin: 20px auto 0;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      background-color: #003087 !important;
      color: white !important;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #043a9f !important;
      }
  
      &:disabled {
        background-color: #b0b0b0;
        cursor: not-allowed;
      }
    }
}
  
  