.landing-page {
    // Fuente base y colores
    font-family: "Arial", sans-serif;
    color: #333;
  
    .hero-section {
      background: url("") center/cover no-repeat;
      padding: 6rem 0;
      text-align: center;
      color: #fff;
  
      .hero-title {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      .hero-subtitle {
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
    }
  
    .categorias-section {
      margin: 4rem 0;
  
      .section-title {
        margin-bottom: 2rem;
        font-size: 2rem;
        color: #855f46; // tono marrón (ej. artesanías)
      }
      .categoria-card {
        background: #fdf1e7; // un tono muy suave, pastel
        padding: 2rem;
        border-radius: 8px;
        transition: transform 0.2s ease;
        cursor: pointer;
  
        &:hover {
          transform: translateY(-5px);
        }
  
        i.icon {
          margin-bottom: 0.5rem;
        }
      }
    }
  
    .bestsellers-section {
      margin: 4rem 0;
  
      .section-title {
        margin-bottom: 2rem;
        font-size: 2rem;
        color: #855f46;
      }
  
      .best-seller-card {
        text-align: center;
  
        .best-seller-image {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        .content {
          background: #fffaf7;
        }
        &:hover {
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        }
      }
    }
  
    .cta-section {
      background-color: #f8e9d2; // tono pastel amarillo
      padding: 4rem 0;
  
      .cta-title {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #855f46;
      }
      .cta-subtitle {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }
      .cta-button {
        font-size: 1.2rem;
      }
    }
  }
  